---
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import OplevelseCard from "../components/OplevelseCard.astro";
---

<section class="mb-25">
  <Heading htmlheading="h2" size="large" stylingclasses="container mx-auto p-5 mb-5"> EN REJSE HØJSKOLE<br /> - FYLDT MED OPLEVELSER </Heading>

  <div class="flex flex-col items-center gap-5 md:grid md:grid-cols-3 md:w-full max-w-5xl mx-auto md:items-start">
    <!-- Venstre kolonne: tekst -->
    <div class="flex flex-col justify-center pt-2 pb-7 md:text-left md:col-span-1">
      <Text teksttype="brødtekst" stylingclasses="text-base md:text-lg leading-relaxed max-w-md mx-auto md:mx-0"> Vil du gerne på højskole i udlandet, tilbyder vi de mest attraktive højskoleophold i udlandet, hvor du besøger flere skønne og spændende lande og deltager i spændende og inspirerende undervisning og alverdens fede aktiviteter. </Text>

      <h3 class="font-semibold text-lg md:text-xl mt-3">Din højskole rejse kan blandt andet indeholde →</h3>
    </div>

    <!-- Højre kolonne: grid med kort -->
    <OplevelseCard src="/src/assets/images/Card_image-4.webp" text="TEAMBULDING" text2="Hvorfor tage på et kedeligt kursus i Danmark, når du kan rejse ud i verden og udvikle dig samtidig? Du rejser sammen med andre unge voksne og lærer en hel masse om samarbejde, relationer, fællesskab, konflikter, styrker og stærke teams. Du får ikke blot rejse-erfaring på cv’et, men også et væld af brugbare redskaber til studie eller karriere." />
    <OplevelseCard src="/src/assets/images/Card_image-5.webp" text="KULTURPROJEKTER" text2="Efter spændende og lærerige undervisningsforløb, har vi – alt efter hvilken højskole rejse du vælger – lagt én eller flere friuger ind. Her har I mulighed for selv at tage styringen og udforske dét land, kontinent eller ø-rige vi befinder os i. Friugerne bliver brugt på forskellig vis og oftest deler holdet sig op i lidt mindre grupper for at tage på eventyr – andre gange rejser hele holdet sammen på en fed friuge." />
    <OplevelseCard src="/src/assets/images/Card_image-3.webp" text="FRIUGER – ET VÆLD AF MULIGHEDER" text2="Har du lyst til at dykke ned i nye kulturer og være en del af projekter, hvor du kommer tættere på de lokale? På vores højskolerejser får du mulighed for at engagere dig i meningsfulde kulturprojekter og aktiviteter, der åbner døre til oplevelser, du ellers aldrig ville få. Vi får ikke bare indblik i landet, men også en ægte forståelse for kulturen og hverdagslivet, som kun opstår, når man deler tiden med mennesker, der bor der." />
    <OplevelseCard src="/src/assets/images/Card_image-2.webp" text="SPÆNDENDE KULTUROPLEVELSER" text2="Kulturen er vigtig at opleve, når man befinder sig i et nyt land. Det giver dig både nogle rigtigt spændende oplevelser og menneske-møder, men også en unik indsigt, du ikke kan læse dig til i en bog eller se i et rejseprogram. På vores højskole ture kan du opleve alt fra ældgamle Hindu-templer i Indien, surf-kulturen på Hawaii, Mayaindianerne i Guatemala, de gamle inkaruiner i Mexico, buddhisme i Thailand, te-plantager i Sri Lanka og kakao-farme i Costa Rica." />
    <OplevelseCard src="/src/assets/images/Card_image-1.webp" text="VILDE NATUROPLEVELSER" text2="Ingen rejse ud i verden uden eventyrlige  og vilde naturoplevelser. Mange af de destinationer, hvor vi tager på højskoleophold, byder på enestående og overdådig natur. Det kan være alt fra snorkleture i Caribien, river rafting i Thailand, spotte brøleaber i Costa Ricas regnskove, gå på opdagelse i Inka-ruinerne i Mexico, trekke i Himalayas bjerge i Nepal, sejle kajak i marine nationalparker, dykke med manta rays på Hawaii, vandre i New Zealands fabelagtige nationalparker eller tage på safari i Sri Lanka og se leoparder, elefanter og bjørne. Alle vores rejser er fyldt med storslåede oplevelser, som du aldrig vil glemme." />
  </div>
</section>
